<form [formGroup]="parentForm" novalidate>
  <fieldset formGroupName="nameGroup">
    <legend class="text-primary text-capitalize">
      {{ (pageTitle ? pageTitle : defaultPageTitle) | lowercase }}
    </legend>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white">First</span>
      </div>
      <input
        type="text"
        formControlName="firstName"
        autocomplete="given-name"
        class="form-control"
        placeholder="First name (required)"
        [ngClass]="{
          'is-invalid': (firstNameMessage$ | async) && submitted,
          'is-valid': !(firstNameMessage$ | async)
        }"
      />
      <div class="invalid-tooltip">
        <span>{{ firstNameMessage$ | async }}</span>
      </div>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white">Last</span>
      </div>
      <input
        type="text"
        formControlName="lastName"
        class="form-control"
        placeholder="Last name (required)"
        autocomplete="family-name"
        [ngClass]="{
          'is-invalid': (lastNameMessage$ | async) && submitted,
          'is-valid': !(lastNameMessage$ | async)
        }"
      />
      <div class="invalid-tooltip">
        <span>{{ lastNameMessage$ | async }}</span>
      </div>
    </div>
  </fieldset>
</form>
