<div class="container-xl py-3">
  <div
    *ngIf="loading"
    class="spinner-border text-primary"
    id="filterSpinner"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <ngb-alert
    *ngIf="errorMessage"
    type="danger"
    [dismissible]="true"
    (close)="errorMessage = ''"
    class="text-center"
  >
    {{ errorMessage }}
  </ngb-alert>
  <ng-container *ngIf="user$ | async as user">
    <form
      [formGroup]="editForm"
      (ngSubmit)="onSubmit(editForm, user)"
      novalidate
    >
      <div class="form-row">
        <div class="col-md">
          <ctacu-contact-form
            [parentForm]="editForm"
            [submitted]="submitted"
            [user]="user"
            [emailTakenMessage]="emailTakenMessage"
            pageTitle="Edit Contact Information"
            (onValueChange)="setEmailTakenMessage($event)"
          ></ctacu-contact-form>
        </div>
        <div class="col-md">
          <ctacu-current-password-form
            [parentForm]="editForm"
            [submitted]="submitted"
            [invalidPasswordMessage]="invalidPasswordMessage"
            (onValueChange)="setInvalidPasswordMessage($event)"
          ></ctacu-current-password-form>
        </div>
      </div>
      <div class="d-flex">
        <input
          type="submit"
          value="{{
            (editForm.invalid || emailTakenMessage) && submitted ? '! ' : ''
          }}Save"
          class="btn"
          [disabled]="
            ((editForm.invalid || emailTakenMessage) && submitted) || loading
          "
          [ngClass]="{
            'btn-success': (editForm.valid && !emailTakenMessage) || !submitted,
            'btn-outline-danger':
              (editForm.invalid || emailTakenMessage) && submitted
          }"
        />
        <input
          type="button"
          value="Cancel"
          class="btn btn-danger ml-2"
          routerLink="/account"
        />
      </div>
    </form>
  </ng-container>
</div>
