<div class="container-xl py-3">
  <section class="text-danger text-capitalize">
    <h1 class="display-4 d-none d-sm-block">
      <span>{{ pageTitle | lowercase }}</span>
    </h1>
    <h2 class="d-sm-none">
      <span>{{ pageTitle | lowercase }}</span>
    </h2>
  </section>
  <hr class="border-danger" />
  <ngb-alert [dismissible]="false" type="danger" class="text-center">
    <span>{{ erroMessage }}</span>
    <input
      type="button"
      value="Home"
      class="btn btn-link text-danger"
      routerLink="/"
    />
  </ngb-alert>
</div>
