<div class="container-xl py-3">
  <div
    *ngIf="loading$ | async"
    class="spinner-border loadingSpinner text-info"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <div class="mb-3">
    <input
      type="button"
      value="cancel"
      class="btn btn-danger text-capitalize d-none d-sm-block"
      routerLink="/cart"
    />
    <input
      type="button"
      value="cancel"
      class="btn btn-block btn-danger text-capitalize d-sm-none"
      routerLink="/cart"
    />
  </div>
  <ng-container *ngIf="shippingRates && items$ | async as items; else error">
    <div class="row">
      <div class="col-md order-md-last">
        <h1 class="text-info text-capitalize font-weight-bold">
          {{ pageTitle }}
        </h1>
        <ul class="list-group shadow-sm mb-3">
          <li
            *ngFor="let i of items"
            class="list-group-item d-flex justify-content-between align-items-center"
          >
            <span class="text-capitalize">{{ i.name }}</span>
            <div class="d-flex align-items-center">
              <span>{{ i.price | currency }}</span>
              <span class="badge badge-info badge-pill ml-2">{{
                i.quantity
              }}</span>
            </div>
          </li>
        </ul>
        <div
          class="d-flex justify-content-between align-items-center mb-3 text-muted text-capitalize font-weight-bold"
        >
          <h5>
            <span>Subtotal</span>
          </h5>
          <h5 class="ml-2 d-flex align-items-center">
            <span>{{ subtotal$ | async | currency }}</span>
            <span class="badge badge-pill badge-secondary ml-1">{{
              cartQuantity$ | async
            }}</span>
          </h5>
        </div>
        <hr class="d-md-none" />
      </div>
      <div class="col-md-8">
        <div class="shadow">
          <form
            [formGroup]="checkOutForm"
            (ngSubmit)="onSubmit(checkOutForm, items)"
            novalidate
          >
            <ngb-accordion
              [destroyOnHide]="false"
              [activeIds]="getActiveIdsString(user)"
              #acc="ngbAccordion"
            >
              <ngb-panel
                type="{{
                  this.checkOutForm.get('nameGroup').invalid && submitted
                    ? 'danger'
                    : 'secondary'
                }}"
                id="name"
                title="name"
              >
                <ng-template ngbPanelHeader let-opened="opened">
                  <div class="py-1">
                    <button
                      ngbPanelToggle
                      class="btn btn-lg btn-link p-0 text-light"
                    >
                      {{
                        this.checkOutForm.get("nameGroup").invalid && submitted
                          ? "!"
                          : ""
                      }}
                      Name
                    </button>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p>
                    <ngb-progressbar type="primary" [value]="25"
                      ><i>25%</i></ngb-progressbar
                    >
                  </p>
                  <div class="mb-3">
                    <ctacu-name-form
                      [parentForm]="checkOutForm"
                      [user]="user"
                      [submitted]="submitted"
                    ></ctacu-name-form>
                  </div>
                  <div class="d-none d-sm-flex justify-content-end">
                    <input
                      type="button"
                      value="next"
                      (click)="acc.toggle('contact')"
                      class="btn btn-success text-capitalize"
                    />
                  </div>
                  <input
                    type="button"
                    value="next"
                    (click)="acc.toggle('contact')"
                    class="btn btn-block btn-success text-capitalize d-sm-none"
                  />
                </ng-template>
              </ngb-panel>
              <ngb-panel
                type="{{
                  (this.checkOutForm.get('contactGroup').invalid ||
                    emailTakenMessage) &&
                  submitted
                    ? 'danger'
                    : 'secondary'
                }}"
                id="contact"
                title="contact"
              >
                <ng-template ngbPanelHeader let-opened="opened">
                  <div class="py-1">
                    <button
                      ngbPanelToggle
                      class="btn btn-lg btn-link p-0 text-light"
                    >
                      {{
                        (this.checkOutForm.get("contactGroup").invalid ||
                          emailTakenMessage) &&
                        submitted
                          ? "!"
                          : ""
                      }}
                      Contact Details
                    </button>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p>
                    <ngb-progressbar type="primary" [value]="50"
                      ><i>50%</i></ngb-progressbar
                    >
                  </p>
                  <div class="mb-3">
                    <ctacu-contact-form
                      [parentForm]="checkOutForm"
                      [submitted]="submitted"
                      [user]="user"
                      [emailTakenMessage]="emailTakenMessage"
                      (valueChange)="setEmailTakenMessage($event)"
                    ></ctacu-contact-form>
                  </div>
                  <div class="d-none d-sm-flex justify-content-between">
                    <input
                      type="button"
                      value="back"
                      (click)="acc.toggle('name')"
                      class="btn btn-primary text-capitalize"
                    />
                    <input
                      type="button"
                      value="next"
                      (click)="acc.toggle('shipping')"
                      class="btn btn-success text-capitalize"
                    />
                  </div>
                  <input
                    type="button"
                    value="back"
                    (click)="acc.toggle('name')"
                    class="btn btn-block btn-primary text-capitalize d-sm-none"
                  />
                  <input
                    type="button"
                    value="next"
                    (click)="acc.toggle('shipping')"
                    class="btn btn-block btn-success text-capitalize d-sm-none"
                  />
                </ng-template>
              </ngb-panel>
              <ngb-panel
                type="{{
                  this.checkOutForm.get('addressGroup').invalid && submitted
                    ? 'danger'
                    : 'secondary'
                }}"
                id="shipping"
                title="shipping"
              >
                <ng-template ngbPanelHeader let-opened="opened">
                  <div class="py-1">
                    <button
                      ngbPanelToggle
                      class="btn btn-lg btn-link p-0 text-light"
                    >
                      {{
                        this.checkOutForm.get("addressGroup").invalid &&
                        submitted
                          ? "!"
                          : ""
                      }}
                      Shipping
                    </button>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p>
                    <ngb-progressbar type="primary" [value]="75"
                      ><i>75%</i></ngb-progressbar
                    >
                  </p>
                  <div class="mb-3">
                    <ctacu-address-form
                      [parentForm]="checkOutForm"
                      [submitted]="submitted"
                      [user]="user"
                    ></ctacu-address-form>
                  </div>
                  <fieldset>
                    <legend class="text-primary">
                      Est. {{ deliveryDate | date }}
                    </legend>
                    <div class="form-group">
                      <select
                        formControlName="shippingRate"
                        class="custom-select text-capitalize"
                      >
                        <option
                          *ngFor="let s of shippingRates"
                          [value]="s.price"
                          class="text-capitalize"
                        >
                          {{ s.rate === 1 ? "next" : s.rate }} Business Day{{
                            s.price === 19.99 ? "" : "s"
                          }}:
                          {{ s.price | currency }}
                        </option>
                      </select>
                    </div>
                  </fieldset>

                  <div class="d-none d-sm-flex justify-content-between">
                    <input
                      type="button"
                      value="back"
                      (click)="acc.toggle('contact')"
                      class="btn btn-primary text-capitalize"
                    />
                    <input
                      type="button"
                      value="next"
                      (click)="acc.toggle('finalize')"
                      class="btn btn-success text-capitalize"
                    />
                  </div>
                  <input
                    type="button"
                    value="back"
                    (click)="acc.toggle('contact')"
                    class="btn btn-block btn-primary text-capitalize d-sm-none"
                  />
                  <input
                    type="button"
                    value="next"
                    (click)="acc.toggle('finalize')"
                    class="btn btn-block btn-success text-capitalize d-sm-none"
                  />
                </ng-template>
              </ngb-panel>
              <ngb-panel
                type="{{
                  (this.checkOutForm.get('paymentGroup').invalid ||
                    this.checkOutForm.get('passwordGroup').invalid) &&
                  submitted
                    ? 'danger'
                    : 'secondary'
                }}"
                id="finalize"
                title="finalize"
              >
                <ng-template ngbPanelHeader let-opened="opened">
                  <div class="py-1">
                    <button
                      ngbPanelToggle
                      class="btn btn-lg btn-link p-0 text-light text-capitalize"
                    >
                      {{
                        (this.checkOutForm.get("paymentGroup").invalid ||
                          this.checkOutForm.get("passwordGroup").invalid) &&
                        submitted
                          ? "!"
                          : ""
                      }}
                      Finalize
                    </button>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <p>
                    <ngb-progressbar type="success" [value]="100"
                      ><i>100%</i></ngb-progressbar
                    >
                  </p>
                  <ctacu-payment-form
                    [parentForm]="checkOutForm"
                    [submitted]="submitted"
                  ></ctacu-payment-form>
                  <hr />
                  <div class="form-row">
                    <div class="col-sm-7">
                      <input
                        type="button"
                        value="{{
                          checkOutForm.get('nameGroup').invalid && submitted
                            ? '! '
                            : ''
                        }}Add Name"
                        (click)="acc.toggle('name')"
                        class="btn btn-sm btn-block text-capitalize mb-2"
                        *ngIf="checkOutForm.get('nameGroup').invalid"
                        [ngClass]="{
                          'btn-danger':
                            checkOutForm.get('nameGroup').invalid && submitted,
                          'btn-primary':
                            checkOutForm.get('nameGroup').valid || !submitted
                        }"
                      />
                      <div
                        *ngIf="checkOutForm.get('nameGroup').valid"
                        (click)="acc.toggle('name')"
                        class="card mb-2 pointer"
                      >
                        <div class="card-body py-2 text-capitalize">
                          {{
                            checkOutForm.get("nameGroup.firstName").value
                              | lowercase
                          }}
                          {{
                            checkOutForm.get("nameGroup.lastName").value
                              | lowercase
                          }}
                        </div>
                      </div>
                      <input
                        type="button"
                        value="{{
                          checkOutForm.get('contactGroup').invalid && submitted
                            ? '! '
                            : ''
                        }}Add Contact Details"
                        (click)="acc.toggle('contact')"
                        class="btn btn-sm btn-block text-capitalize mb-2"
                        *ngIf="checkOutForm.get('contactGroup').invalid"
                        [ngClass]="{
                          'btn-danger':
                            checkOutForm.get('contactGroup').invalid &&
                            submitted,
                          'btn-primary':
                            checkOutForm.get('contactGroup').valid || !submitted
                        }"
                      />
                      <div
                        *ngIf="checkOutForm.get('contactGroup').valid"
                        (click)="acc.toggle('contact')"
                        class="card mb-2 pointer"
                      >
                        <div class="card-body py-2">
                          <div>
                            {{ checkOutForm.get("contactGroup.phone").value }}
                          </div>
                          <div>
                            {{
                              checkOutForm.get("contactGroup.email").value
                                | lowercase
                            }}
                          </div>
                        </div>
                      </div>
                      <input
                        type="button"
                        value="{{
                          checkOutForm.get('addressGroup').invalid && submitted
                            ? '! '
                            : ''
                        }}Add Shipping Address"
                        (click)="acc.toggle('shipping')"
                        class="btn btn-sm btn-block text-capitalize"
                        *ngIf="checkOutForm.get('addressGroup').invalid"
                        [ngClass]="{
                          'btn-danger':
                            checkOutForm.get('addressGroup').invalid &&
                            submitted,
                          'btn-primary':
                            checkOutForm.get('addressGroup').valid || !submitted
                        }"
                      />
                      <div
                        *ngIf="checkOutForm.get('addressGroup').valid"
                        (click)="acc.toggle('shipping')"
                        class="card pointer"
                      >
                        <div class="card-body py-2 text-capitalize">
                          <div>
                            {{ checkOutForm.get("addressGroup.street").value }}
                          </div>
                          <div>
                            {{
                              checkOutForm.get("addressGroup.city").value
                                | lowercase
                            }},
                            {{
                              checkOutForm.get("addressGroup.state").value
                                | lowercase
                            }}
                            {{ checkOutForm.get("addressGroup.zip").value }}
                          </div>
                          <div>
                            {{
                              checkOutForm.get("addressGroup.country").value
                                | lowercase
                            }}
                          </div>
                        </div>
                      </div>
                      <hr class="d-sm-none" />
                    </div>
                    <div class="col-sm">
                      <ctacu-cart-summary></ctacu-cart-summary>
                    </div>
                  </div>
                  <hr />

                  <div
                    [hidden]="user"
                    class="custom-control custom-checkbox mb-3"
                  >
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      formControlName="signUpCheck"
                      id="signUpCheck"
                      [ngClass]="{
                        'is-invalid':
                          emailTakenMessage &&
                          checkOutForm.get('signUpCheck').value &&
                          submitted
                      }"
                    />
                    <label class="custom-control-label" for="signUpCheck"
                      >Sign up for a <strong>Gaming Legend</strong> account for
                      a faster checkout on your next purchase!</label
                    >
                    <div class="invalid-tooltip">
                      {{ emailTakenMessage }}
                    </div>
                  </div>
                  <div
                    *ngIf="!user"
                    #collapse="ngbCollapse"
                    [(ngbCollapse)]="isCollapsed"
                  >
                    <div class="mb-3">
                      <ctacu-password-form
                        [parentForm]="checkOutForm"
                        [submitted]="submitted"
                        pageTitle="Sign Up"
                      ></ctacu-password-form>
                    </div>
                  </div>
                  <div class="d-none d-sm-flex">
                    <input
                      type="button"
                      value="back"
                      (click)="acc.toggle('shipping')"
                      class="btn btn-primary text-capitalize"
                    />
                    <input
                      type="submit"
                      [value]="
                        (checkOutForm.invalid || emailTakenMessage) && submitted
                          ? '! place order'
                          : 'place order'
                      "
                      class="btn btn-block btn-success text-capitalize ml-2"
                      [disabled]="
                        ((checkOutForm.invalid || emailTakenMessage) &&
                          submitted) ||
                        (loading$ | async) ||
                        orderPlaced
                      "
                      [ngClass]="{
                        'btn-success':
                          (checkOutForm.valid && !emailTakenMessage) ||
                          !submitted,
                        'btn-outline-danger':
                          (checkOutForm.invalid || emailTakenMessage) &&
                          submitted
                      }"
                    />
                  </div>
                  <div class="d-sm-none">
                    <input
                      type="button"
                      value="back"
                      (click)="acc.toggle('shipping')"
                      class="btn btn-block btn-primary text-capitalize mb-2"
                    />
                    <input
                      type="submit"
                      [value]="
                        checkOutForm.invalid && submitted
                          ? '! place order'
                          : 'place order'
                      "
                      class="btn btn-block btn-success text-capitalize"
                      *ngIf="
                        (loading$ | async) === (false || null || undefined);
                        else loading
                      "
                      [disabled]="checkOutForm.invalid && submitted"
                    />
                    <ng-template #loading>
                      <div class="d-flex w-100 ml-2 justify-content-center">
                        <div class="spinner-border text-info" role="status">
                          <span class="sr-only">Loading...</span>
                        </div>
                      </div>
                    </ng-template>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
          </form>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #error>
    <h1 class="text-center text-danger mb-3">{{ pageTitle }}</h1>
    <ngb-alert class="text-center" [dismissible]="false" type="danger">
      <span class="ml-1">{{ errorMessage }}</span>
    </ngb-alert>
  </ng-template>
</div>
<ng-template #orderSuccessTpl>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="currentColor"
    class="bi bi-cart4 mr-1"
    viewBox="0 0 16 16"
  >
    <path
      d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
    />
  </svg>
  Order placed !
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="currentColor"
    class="bi bi-x pointer"
    viewBox="0 0 16 16"
  >
    <path
      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
    />
  </svg>
</ng-template>

<ng-template #saveUserDangerTpl>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="currentColor"
    class="bi bi-exclamation-octagon-fill mr-1"
    viewBox="0 0 16 16"
  >
    <path
      d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
    />
  </svg>
  Error signing up !
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="currentColor"
    class="bi bi-x pointer"
    viewBox="0 0 16 16"
  >
    <path
      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
    />
  </svg>
</ng-template>

<ng-template #orderDangerTpl>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="currentColor"
    class="bi bi-exclamation-octagon-fill mr-1"
    viewBox="0 0 16 16"
  >
    <path
      d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
    />
  </svg>
  Error placing order !
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="currentColor"
    class="bi bi-x pointer"
    viewBox="0 0 16 16"
  >
    <path
      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
    />
  </svg>
</ng-template>

<ng-template #clearCartDangerTpl>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="currentColor"
    class="bi bi-exclamation-octagon-fill mr-1"
    viewBox="0 0 16 16"
  >
    <path
      d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
    />
  </svg>
  Error emptying cart !
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="currentColor"
    class="bi bi-x pointer"
    viewBox="0 0 16 16"
  >
    <path
      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
    />
  </svg>
</ng-template>
<!-- <div class="container" [style.min-width.px]="500">
  <div class="card">
    <div class="card-body">
      <div class="d-flex justify-content-around">
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-center">
            <button
              class="btn btn-outline-danger btn-lg rounded-circle"
              routerLink="contact-details"
              routerLinkActive
              #contactDetails="routerLinkActive"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [disabled]="!contactDetails.isActive"
            >
              1
            </button>
          </div>
          <h5 class="p-2">Contact Details</h5>
        </div>
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-center">
            <button
              class="btn btn-outline-warning btn-lg rounded-circle"
              routerLink="address"
              routerLinkActive
              #address="routerLinkActive"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [disabled]="!address.isActive"
            >
              2
            </button>
          </div>
          <h5 class="p-2">Address</h5>
        </div>
        <div class="d-flex flex-column">
          <div class="d-flex justify-content-center">
            <button
              class="btn btn-outline-success btn-lg rounded-circle"
              routerLink="finalize"
              routerLinkActive
              #finalize="routerLinkActive"
              routerLinkActive="active"
              [routerLinkActiveOptions]="{ exact: true }"
              [disabled]="!finalize.isActive"
            >
              3
            </button>
          </div>
          <h5 class="p-2">Finalize Order</h5>
        </div>
      </div>
      <router-outlet></router-outlet>

      <div class="d-flex justify-content-center" >
        <form #checkOutForm='ngForm' [style.width.px]="350"
            (ngSubmit)="onSubmit(checkOutForm)">

          <div class="col">
            <div class="form-group">
              <label for="firstname">
                First Name:
              </label>
              <input
                required
                name="firstname"
                #firstName="ngModel"
                type="text"
                class="form-control"
                ngModel>
                <div *ngIf="checkOutForm.submitted"
                    [hidden]="firstName.valid || firstName.untouched"
                    class="alert alert-danger">Enter a Valid First Name</div>
            </div>
            <span>{{firstName}}</span>
            <div class="form-group">
              <label for="lastname">
                Last Name:
              </label>
              <input
                required
                id="lastname"
                name="lastname"
                #lastName="ngModel"
                type="text"
                class="form-control"
                ngModel>
                <div *ngIf="checkOutForm.submitted"
                    [hidden]="lastName.valid || lastName.untouched"
                     class="alert alert-danger">Enter a Valid Last Name</div>
            </div>
            <div class="form-group">
              <label for="streetAddress">
                Street Address:
              </label>
              <input maxlength="20"
                    minlength="5"
                    id="streetAddress"
                    name="streetAddress"
                    #streetAddress="ngModel"
                    type="text"
                    class="form-control"
                    ngModel>
              <div *ngIf="checkOutForm.submitted"
                    [hidden]="streetAddress.valid || streetAddress.untouched"
                    class="alert alert-danger">Enter a Valid Street Address</div>
            </div>
            <div class="form-group">
              <label for="state">State:</label>
              <select class="form-control"
                    required
                    id="state"
                    name="state"
                    #state="ngModel"
                    [style.width.px]="150"
                    ngModel>
                <option value=""
                        disabled
                        selected
                        hidden>Select a State</option>
                <option value="{{s}}"*ngFor="let s of states">{{s}}</option>
              </select>
              <div *ngIf="checkOutForm.submitted"
                    [hidden]="state.valid || state.untouched"
                     class="alert alert-danger">Enter a Valid Last Name</div>
            </div>
            <div class="form-group">
              <label for="zip">
                Zip Code:
              </label>
              <input
                required
                name="zip"
                #zip="ngModel"
                type="text"
                class="form-control"
                [style.width.px]="150"
                ngModel>
                <div *ngIf="checkOutForm.submitted"
                    [hidden]="zip.valid || zip.untouched"
                    class="alert alert-danger">Enter a Valid Zip Code</div>
            </div>

            <div class="form-check form-group">
              <input required
                    type="checkbox"
                    name="agree"
                    #agree="ngModel"
                    class="form-check-input"
                    ngModel>
              <label for="agree">I agree</label>
              <div *ngIf="checkOutForm.submitted"
                    [hidden]="agree.valid || agree.untouched"
                     class="alert alert-danger">Please check "I agree" before placing your order</div>
            </div>
            <button class="btn btn-success" type="submit">Purchase</button>
            <input
              type="button"
              class="btn btn-secondary"
              value="Cancel"
              (click)='onCancel()'/>
          </div>
          <div *ngIf="error" [hidden]="checkOutForm.valid" class="alert alert-danger">
            {{ errorMessage }}
          </div>


        </form>

      </div>
      <div>
        {{ firstName.className }}
      </div>
      <h3>Dirty: {{firstName.dirty}}</h3>
      <h3>Pristine: {{firstName.pristine}}</h3>
      <h3>Touched: {{firstName.touched}}</h3>
      <h3>Untouched: {{firstName.untouched}}</h3>
      <h3>Valid: {{firstName.valid}}</h3>
      <h3>Invalid: {{firstName.invalid}}</h3>
    </div>
  </div>
</div> -->
