<div class="py-3">
  <form
    [formGroup]="editPasswordForm"
    (ngSubmit)="onSubmit(editPasswordForm, user)"
    novalidate
  >
    <ngb-alert
      *ngIf="successMessage"
      type="success"
      [dismissible]="true"
      (close)="successMessage = ''"
      class="mb-0 mt-3 mx-3"
    >
      {{ successMessage }}
    </ngb-alert>
    <ngb-alert
      *ngIf="errorMessage"
      type="danger"
      [dismissible]="true"
      (close)="errorMessage = ''"
      class="mb-0 mt-3 mx-3"
    >
      {{ errorMessage }}
    </ngb-alert>
    <ctacu-password-form
      [parentForm]="editPasswordForm"
      [submitted]="submitted"
      pageTitle="New Password"
    ></ctacu-password-form>
    <ctacu-current-password-form
      *ngIf="editPasswordForm.dirty"
      [parentForm]="editPasswordForm"
      [submitted]="submitted"
    ></ctacu-current-password-form>
    <div *ngIf="editPasswordForm.dirty" class="d-flex">
      <input
        type="submit"
        value="{{ editPasswordForm.invalid && submitted ? '! ' : '' }}Save"
        class="btn btn-sm"
        [disabled]="(editPasswordForm.invalid && submitted) || loading"
        [ngClass]="{
          'btn-success': editPasswordForm.valid || !submitted,
          'btn-outline-danger': editPasswordForm.invalid && submitted
        }"
      />
      <input
        type="button"
        value="Cancel"
        class="btn btn-sm btn-danger ml-2"
        [disabled]="loading"
        (click)="resetForm()"
      />
    </div>
  </form>
</div>
