<form [formGroup]="parentForm" novalidate>
  <fieldset formGroupName="contactGroup">
    <legend class="text-primary">
      {{ pageTitle | capitalize }}
    </legend>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white">Phone</span>
      </div>
      <input
        type="tel"
        formControlName="phone"
        class="form-control"
        autocomplete="tel"
        placeholder="Phone number (required)"
        [ngClass]="{
          'is-invalid': (phoneMessage$ | async) && submitted,
          'is-valid': (phoneMessage$ | async) === ''
        }"
      />
      <div class="invalid-tooltip">
        <span>{{ phoneMessage$ | async }}</span>
      </div>
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white">Email</span>
      </div>
      <input
        class="form-control"
        id="emailId"
        type="email"
        autocomplete="email"
        placeholder="Email (required)"
        formControlName="email"
        [ngClass]="{
          'is-invalid': (emailMessage$ | async) && submitted,
          'is-valid': (emailMessage$ | async) === ''
        }"
      />
      <div class="invalid-tooltip">
        <span>{{ emailMessage$ | async }}</span>
      </div>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white">Confirm</span>
      </div>
      <input
        type="email"
        class="form-control"
        autocomplete="email"
        placeholder="Confirm Email (required)"
        formControlName="confirmEmail"
        [ngClass]="{
          'is-invalid':
            ((confirmEmailMessage$ | async) ||
              (contactGroupMessage$ | async)) &&
            submitted,
          'is-valid':
            (confirmEmailMessage$ | async) === '' &&
            (contactGroupMessage$ | async) === ''
        }"
      />
      <div *ngIf="(emailMessage$ | async) === ''" class="invalid-tooltip">
        <span>
          {{ confirmEmailMessage$ | async }}
        </span>
        <span *ngIf="(confirmEmailMessage$ | async) === ''">
          {{ contactGroupMessage$ | async }}
        </span>
      </div>
    </div>
  </fieldset>
</form>
