<form class="mb-3" [formGroup]="parentForm" novalidate>
  <fieldset formGroupName="confirmPasswordGroup">
    <legend class="text-primary">{{ pageTitle }}</legend>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white">Password</span>
      </div>
      <input
        [type]="showPassword ? 'text' : 'password'"
        formControlName="password"
        class="form-control"
        placeholder="Password (required)"
        [ngClass]="{
          'is-invalid': currentPasswordMessage && submitted,
          'is-valid': !currentPasswordMessage
        }"
      />
      <div class="invalid-tooltip">
        {{ currentPasswordMessage }}
      </div>
      <div class="input-group-append">
        <input
          type="button"
          class="btn btn-sm btn-secondary"
          value="{{ showPassword ? 'Hide' : 'Show' }}"
          (click)="toggleShowPassword()"
        />
      </div>
    </div>
  </fieldset>
</form>
