<form [formGroup]="parentForm" novalidate>
  <fieldset formGroupName="addressGroup">
    <legend class="text-primary text-capitalize">{{ pageTitle }}</legend>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white">Street</span>
      </div>
      <input
        type="text"
        formControlName="street"
        class="form-control"
        autocomplete="street-address"
        placeholder="Street address (required)"
        [ngClass]="{
          'is-invalid': streetMessage && submitted,
          'is-valid': !streetMessage
        }"
      />
      <div class="invalid-tooltip">
        <span>{{ streetMessage }}</span>
      </div>
    </div>

    <div class="form-row mb-3">
      <div class="col-sm-7">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text bg-info text-white">City</span>
          </div>
          <input
            type="text"
            formControlName="city"
            class="form-control"
            placeholder="City (required)"
            [ngClass]="{
              'is-invalid': cityMessage && submitted,
              'is-valid': !cityMessage
            }"
          />
          <div class="invalid-tooltip">
            <span>{{ cityMessage }}</span>
          </div>
        </div>
      </div>
      <div class="col-sm mt-3 mt-sm-0">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text bg-info text-white">State</span>
          </div>
          <select
            class="form-control"
            formControlName="state"
            [ngClass]="{
              'is-invalid': stateMessage && submitted,
              'is-valid': !stateMessage
            }"
          >
            <option value="" disabled hidden>State (required)</option>
            <option value="{{ s }}" *ngFor="let s of states">
              {{ s }}
            </option>
          </select>
          <div class="invalid-tooltip">
            <span>
              {{ stateMessage }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="form-row mb-3">
      <div class="col-sm-7">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text bg-info text-white">Zip</span>
          </div>
          <input
            class="form-control"
            type="text"
            formControlName="zip"
            autocomplete="postal-code"
            placeholder="Zip (required)"
            [ngClass]="{
              'is-invalid': zipMessage && submitted,
              'is-valid': !zipMessage
            }"
          />
          <div class="invalid-tooltip">
            <span>{{ zipMessage }}</span>
          </div>
        </div>
      </div>
      <div class="col-sm mt-3 mt-sm-0">
        <div
          placement="bottom"
          ngbTooltip="Orders ship within the USA"
          class="input-group"
        >
          <div class="input-group-prepend">
            <span class="input-group-text bg-info text-white">Country</span>
          </div>
          <input
            type="text"
            class="form-control"
            formControlName="country"
            [attr.disabled]="true"
            [ngClass]="{
              'is-valid': parentForm.get('addressGroup.country').valid
            }"
          />
        </div>
      </div>
    </div>
  </fieldset>
</form>
