<div>
  <div class="d-flex justify-content-between align-items-center mb-2">
    <span>Subtotal</span>
    <span class="ml-2">{{ subtotal$ | async | currency }}</span>
  </div>
  <div class="d-flex justify-content-between align-items-center mb-2">
    <span>Tax({{ tax * 100 }}%)</span>
    <span class="ml-2">{{ totalTax$ | async | currency }}</span>
  </div>
  <div class="d-flex justify-content-between align-items-center mb-2">
    <span>Shipping</span>
    <span class="ml-2">{{ shippingPrice$ | async | currency }}</span>
  </div>
  <hr class="my-3" />

  <h5
    class="d-flex justify-content-between align-items-center mb-3 text-capitalize font-weight-bold"
  >
    <span>Total</span>
    <span class="ml-2">{{ total$ | async | currency }}</span>
  </h5>
</div>
