<div class="card text-dark border-secondary">
  <ul class="list-group list-group-flush border-secondary">
    <li class="list-group-item border-secondary">
      <div class="form-row justify-content-between">
        <span class="col-auto">Subtotal:</span>
        <span class="col-auto font-weight-bold">{{
          subtotal$ | async | currency
        }}</span>
      </div>
    </li>
    <li class="list-group-item border-secondary">
      <div class="form-row justify-content-between">
        <span class="col-auto">Tax:</span>
        <span class="col-auto font-weight-bold">{{
          totalTax$ | async | currency
        }}</span>
      </div>
    </li>
    <li class="list-group-item border-secondary">
      <div class="form-row justify-content-between mb-3">
        <span class="col-auto">Shipping:</span>
        <span class="col-auto font-weight-bold">{{
          shippingPrice$ | async | currency
        }}</span>
      </div>

      <form [formGroup]="shippingForm" novalidate>
        <div
          *ngFor="let s of shippingRates; index as i"
          class="custom-control custom-radio mb-2"
        >
          <input
            id="price{{ i }}"
            formControlName="price"
            type="radio"
            class="custom-control-input"
            [value]="s.price"
          />
          <label class="custom-control-label pointer" for="price{{ i }}"
            ><div class="row">
              <span class="col">
                {{ s.title | capitalize }} {{ s.price | currency }}
              </span>
            </div>
            <div class="row">
              <small class="col">
                {{ getDeliveryDate(s.days) | date }}
              </small>
            </div></label
          >
        </div>
      </form>
    </li>
  </ul>
  <div class="card-footer text-light bg-secondary">
    <div class="form-row justify-content-between">
      <h5 class="col-auto mb-0 font-weight-bold"><span>Total:</span></h5>
      <h5 class="col-auto mb-0 font-weight-bold">
        <span>{{ total$ | async | currency }}</span>
      </h5>
    </div>
  </div>
</div>
