<form [formGroup]="parentForm" novalidate>
  <fieldset formGroupName="passwordGroup">
    <legend class="text-primary">{{ pageTitle }}</legend>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white">Password</span>
      </div>
      <input
        [type]="showPassword ? 'text' : 'password'"
        formControlName="password"
        class="form-control"
        placeholder="Password (required)"
        [ngClass]="{
          'is-invalid': (passwordMessage$ | async) && submitted,
          'is-valid': !(passwordMessage$ | async)
        }"
      />
      <div class="invalid-tooltip">
        {{ passwordMessage$ | async }}
      </div>
      <div class="input-group-append">
        <input
          type="button"
          class="btn btn-sm btn-secondary"
          value="{{ showPassword ? 'Hide' : 'Show' }}"
          (click)="toggleShowPassword()"
        />
      </div>
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white">Confirm</span>
      </div>
      <input
        [type]="showPassword ? 'text' : 'password'"
        formControlName="confirmPassword"
        class="form-control"
        placeholder="Confirm (required)"
        [ngClass]="{
          'is-invalid':
            ((passwordGroupMessage$ | async) ||
              (confirmPasswordMessage$ | async)) &&
            submitted,
          'is-valid':
            !(passwordGroupMessage$ | async) &&
            !(confirmPasswordMessage$ | async)
        }"
      />
      <div *ngIf="!(passwordMessage$ | async)" class="invalid-tooltip">
        <span>{{ confirmPasswordMessage$ | async }}</span>
        <span *ngIf="!(confirmPasswordMessage$ | async)">{{
          passwordGroupMessage$ | async
        }}</span>
      </div>
    </div>
  </fieldset>
</form>
