<form class="mb-3" [formGroup]="parentForm" novalidate>
  <fieldset formGroupName="passwordGroup">
    <legend class="text-primary">Password</legend>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white">Password</span>
      </div>
      <input
        [type]="
          parentForm.get('passwordGroup.showPassword').value
            ? 'text'
            : 'password'
        "
        formControlName="password"
        class="form-control"
        placeholder="Password (required)"
        [ngClass]="{
          'is-invalid': passwordMessage && submitted,
          'is-valid': !passwordMessage
        }"
      />
      <div class="invalid-tooltip">
        {{ passwordMessage }}
      </div>
      <!-- <div class="btn-group-toggle input-group-append">
        <label class="btn-secondary text-capitalize" ngbButtonLabel>
          <input type="checkbox" ngbButton formControlName="showPassword" />
          {{
            this.parentForm.get("passwordGroup.showPassword").value
              ? "hide"
              : "show"
          }}
        </label>
      </div> -->
    </div>
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text bg-info text-white">Confirm</span>
      </div>
      <input
        [type]="
          parentForm.get('passwordGroup.showPassword').value
            ? 'text'
            : 'password'
        "
        formControlName="confirmPassword"
        class="form-control"
        placeholder="Confirm (required)"
        [ngClass]="{
          'is-invalid':
            (passwordGroupMessage || confirmPasswordMessage) && submitted,
          'is-valid': !passwordGroupMessage && !confirmPasswordMessage
        }"
      />
      <div *ngIf="!passwordMessage" class="invalid-tooltip">
        <span>{{ confirmPasswordMessage }}</span>
        <span *ngIf="!confirmPasswordMessage">{{ passwordGroupMessage }}</span>
      </div>
    </div>
  </fieldset>
</form>
