<div class="container-xl py-3">
  <!-- <div class="d-block d-sm-none">Visible only on xs</div>
  <div class="d-none d-sm-block d-md-none">Visible only on sm</div>
  <div class="d-none d-md-block d-lg-none">Visible only on md</div>
  <div class="d-none d-lg-block d-xl-none">Visible only on lg</div>
  <div class="d-none d-xl-block">Visible only on xl</div> -->
  <div
    *ngIf="loading$ | async"
    class="spinner-border loadingSpinner text-danger"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <h1
    [ngClass]="{ 'text-danger': errorMessage, 'text-light': !errorMessage }"
    class="display-4 d-none d-sm-block"
  >
    <span>{{ pageTitle | capitalize }}</span>
  </h1>
  <h2
    [ngClass]="{ 'text-danger': errorMessage, 'text-light': !errorMessage }"
    class="d-sm-none"
  >
    <span>{{ pageTitle | capitalize }}</span>
  </h2>
  <ng-container *ngIf="shippingRates && items$ | async as items; else error">
    <div class="row">
      <div class="col-md mb-3 mb-md-0">
        <ng-container *ngIf="items.length; else noItems">
          <div class="card mb-3">
            <div class="card-body">
              <table class="table mb-0">
                <tbody>
                  <tr *ngFor="let item of items; index as i">
                    <td scope="row" [ngClass]="{ 'border-0': i === 0 }">
                      <img
                        [src]="item.imageUrl"
                        [title]="item.name"
                        class="pointer"
                        [routerLink]="['/products', item.type, item.id]"
                        [queryParams]="{
                          returnLink: '/user/cart'
                        }"
                        [ngbTooltip]="item.name"
                      />
                    </td>
                    <td
                      scope="row"
                      [ngClass]="{ 'border-0': i === 0 }"
                      class="d-none d-sm-table-cell"
                    >
                      <a
                        [routerLink]="['/products', item.type, item.id]"
                        [queryParams]="{
                          returnLink: '/user/cart'
                        }"
                        >{{ item.name }}</a
                      >
                    </td>
                    <td scope="row" [ngClass]="{ 'border-0': i === 0 }">
                      <div class="form-row align-items-center">
                        <div class="col-auto">
                          <button
                            id="decreaseBtn"
                            (click)="saveItem(item, item.quantity - 1)"
                            type="button"
                            class="btn btn-link text-danger p-0"
                            [disabled]="loading$ | async"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="22"
                              height="22"
                              fill="currentColor"
                              class="bi bi-dash-circle"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                              />
                              <path
                                d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"
                              />
                            </svg>
                          </button>
                        </div>
                        <div class="col-auto">
                          <h4 class="m-0">
                            {{ item.quantity }}
                          </h4>
                        </div>
                        <div class="col-auto">
                          <button
                            id="increaseBtn"
                            (click)="saveItem(item, item.quantity + 1)"
                            type="button"
                            class="btn btn-link p-0"
                            value="+"
                            [disabled]="loading$ | async"
                          >
                            <svg
                              xmlns="http://www.w3.org/2000/svg"
                              width="22"
                              height="22"
                              fill="currentColor"
                              class="bi bi-plus-circle"
                              viewBox="0 0 16 16"
                            >
                              <path
                                d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                              />
                              <path
                                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
                              />
                            </svg>
                          </button>
                        </div>
                      </div>
                      <span class="d-sm-none">{{ item.price | currency }}</span>
                    </td>
                    <td
                      scope="row"
                      [ngClass]="{ 'border-0': i === 0 }"
                      class="d-none d-sm-table-cell"
                    >
                      <span>{{ item.price | currency }}</span>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <input
            id="removeAllBtn"
            type="button"
            (click)="openRemoveAllModal(items)"
            class="btn btn-danger"
            [disabled]="loading$ | async"
            value="Empty"
          />
        </ng-container>
        <ng-template #noItems>
          <ngb-alert
            class="m-0 text-center"
            [dismissible]="false"
            type="warning"
          >
            <svg
              width="1em"
              height="1em"
              viewBox="0 0 16 16"
              class="bi bi-exclamation-circle"
              fill="currentColor"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
              />
              <path
                d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"
              />
            </svg>
            <span class="ml-1"
              >No items in your cart! Click
              <a routerLink="/products">here</a> to see our gaming
              products.</span
            >
          </ngb-alert>
        </ng-template>
      </div>
      <div class="col-md-4">
        <div class="mb-3">
          <ctacu-cart-summary
            [shippingRates]="shippingRates"
          ></ctacu-cart-summary>
        </div>
        <input
          type="button"
          value="Checkout"
          routerLink="../checkout"
          class="btn btn-lg btn-block btn-success text-capitalize"
          [disabled]="!items.length || (loading$ | async) === true"
        />
        <div *ngIf="!items.length" class="text-center text-danger">
          <svg
            width="1em"
            height="1em"
            viewBox="0 0 16 16"
            class="bi bi-exclamation-circle"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
            />
            <path
              d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"
            />
          </svg>
          <small class="text-danger font-weight-bold ml-1"
            >Put at least one item in your cart to checkout</small
          >
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #error>
    <ngb-alert class="text-center" [dismissible]="false" type="danger">
      <span class="ml-1">{{ errorMessage }}</span>
    </ngb-alert>
  </ng-template>
</div>
