<div class="container-xl py-3">
  <div
    *ngIf="loading$ | async"
    class="spinner-border loadingSpinner text-danger"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <h1
    [ngClass]="{ 'text-danger': errorMessage, 'text-light': !errorMessage }"
    class="display-4 d-none d-sm-block"
  >
    <span>{{ pageTitle | capitalize }}</span>
  </h1>
  <h2
    [ngClass]="{ 'text-danger': errorMessage, 'text-light': !errorMessage }"
    class="d-sm-none"
  >
    <span>{{ pageTitle | capitalize }}</span>
  </h2>
  <ng-container *ngIf="shippingRates && items$ | async as items; else error">
    <ng-container *ngIf="items && items.length; else noItems">
      <div class="row">
        <div class="col-md">
          <div class="card">
            <div class="card-body">
              <table class="table">
                <tbody>
                  <tr *ngFor="let item of items; index as i">
                    <td
                      id="imgCell"
                      scope="row"
                      [ngClass]="{ 'border-0': i === 0 }"
                      class="align-middle"
                    >
                      <a
                        [routerLink]="['/products', item.type, item.id]"
                        [queryParams]="{
                          returnLink: '/user/cart'
                        }"
                      >
                        <img
                          src="{{ item.imageUrl }}"
                          title="{{ item.name }}"
                          class="img-fluid"
                        />
                      </a>
                    </td>
                    <td
                      scope="row"
                      [ngClass]="{ 'border-0': i === 0 }"
                      class="d-none d-sm-table-cell"
                    >
                      <a
                        [routerLink]="['/products', item.type, item.id]"
                        [queryParams]="{
                          returnLink: '/user/cart'
                        }"
                        >{{ item.name }}</a
                      >
                    </td>
                    <td
                      scope="row"
                      [ngClass]="{ 'border-0': i === 0 }"
                      class="d-none d-sm-table-cell"
                    >
                      <span class="font-weight-bold">{{
                        item.price | currency
                      }}</span>
                    </td>
                    <td scope="row" [ngClass]="{ 'border-0': i === 0 }">
                      <ng-container *ngIf="quantities$ | async as quantities">
                        <ng-container *ngIf="quantities.controls[i] as control">
                          <form
                            [formGroup]="cartForm"
                            (ngSubmit)="openDeleteModal(item, items)"
                            class="mb-2"
                            novalidate
                          >
                            <div formArrayName="quantities">
                              <div [formGroup]="control">
                                <p class="text-center d-sm-none mb-2">
                                  {{ item.price | currency }}
                                </p>
                                <select
                                  class="custom-select"
                                  formControlName="quantity"
                                >
                                  <ng-container
                                    *ngFor="let o of quantityOptions"
                                  >
                                    <option [value]="o">
                                      {{ o }}
                                    </option>
                                  </ng-container>
                                </select>
                              </div>
                            </div>
                            <div class="row justify-content-center">
                              <input
                                type="submit"
                                value="Remove"
                                class="btn btn-link btn-sm text-secondary p-0"
                              />
                            </div>
                          </form>
                        </ng-container>
                      </ng-container>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="row justify-content-center">
                <div class="col-auto">
                  <input
                    id="emptyBtn"
                    type="button"
                    (click)="openDeleteAllModal(items)"
                    class="btn btn-link text-secondary p-0"
                    [disabled]="loading$ | async"
                    value="Empty cart"
                  />
                </div>
              </div>
            </div>
          </div>
          <hr class="border-light d-md-none" />
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <ctacu-cart-summary
              [shippingRates]="shippingRates"
            ></ctacu-cart-summary>
          </div>
          <input
            id="checkoutBtn"
            type="button"
            value="Checkout"
            routerLink="../checkout"
            class="btn btn-lg btn-block btn-success text-capitalize"
            [disabled]="loading$ | async"
          />
        </div>
      </div>
    </ng-container>
    <ng-template #noItems>
      <div class="card text-dark mb-3">
        <div class="card-body">
          <div class="row justify-content-center mb-3">
            <div class="col-auto">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="100"
                height="100"
                fill="currentColor"
                class="bi bi-cart2"
                viewBox="0 0 16 16"
              >
                <path
                  d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
                />
              </svg>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-auto">
              <h5>Your cart is empty</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-auto d-none d-sm-block">
          <input
            routerLink="/products"
            type="button"
            class="btn btn-lg btn-primary"
            [disabled]="loading$ | async"
            value="Continue shopping"
          />
        </div>
        <div class="col-12 d-sm-none">
          <input
            routerLink="/products"
            type="button"
            class="btn btn-lg btn-block btn-primary"
            [disabled]="loading$ | async"
            value="Continue shopping"
          />
        </div>
      </div>
    </ng-template>
  </ng-container>
  <!-- <form [formGroup]="cartForm" novalidate>
    <ng-container *ngIf="quantities$ | async as quantities">
      <div
        formArrayName="quantities"
        *ngFor="let q of quantities.controls; index as i"
      >
        <div [formGroupName]="i">
          <select
            id="quantity{{ i }}"
            class="custom-select"
            formControlName="quantity"
          >
            <option [value]="0">Remove</option>
            <option [value]="1">1</option>
            <option [value]="2">2</option>
            <option [value]="3">3</option>
            <option [value]="4">4</option>
            <option [value]="5">5</option>
          </select>
        </div>
      </div>
    </ng-container>
  </form> -->
  <ng-template #error>
    <div class="mb-3">
      <ctacu-error-received
        [errorMessage]="errorMessage"
      ></ctacu-error-received>
    </div>
    <div class="row justify-content-end">
      <div class="col-auto d-none d-sm-block">
        <input
          routerLink="/products"
          type="button"
          class="btn btn-lg btn-primary"
          [disabled]="loading$ | async"
          value="Continue shopping"
        />
      </div>
      <div class="col-12 d-sm-none">
        <input
          routerLink="/products"
          type="button"
          class="btn btn-lg btn-block btn-primary"
          [disabled]="loading$ | async"
          value="Continue shopping"
        />
      </div>
    </div>
  </ng-template>
</div>
