<div class="container-xl py-3">
  <!-- <div class="d-block d-sm-none">Visible only on xs</div>
  <div class="d-none d-sm-block d-md-none">Visible only on sm</div>
  <div class="d-none d-md-block d-lg-none">Visible only on md</div>
  <div class="d-none d-lg-block d-xl-none">Visible only on lg</div>
  <div class="d-none d-xl-block">Visible only on xl</div> -->
  <div
    *ngIf="loading$ | async"
    class="spinner-border loadingSpinner text-danger"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <h1
    [ngClass]="{ 'text-danger': errorMessage, 'text-light': !errorMessage }"
    class="display-4 d-none d-sm-block"
  >
    <span>{{ pageTitle | capitalize }}</span>
  </h1>
  <h2
    [ngClass]="{ 'text-danger': errorMessage, 'text-light': !errorMessage }"
    class="d-sm-none"
  >
    <span>{{ pageTitle | capitalize }}</span>
  </h2>
  <ng-container *ngIf="shippingRates && items$ | async as items; else error">
    <ng-container *ngIf="items && items.length; else noItems">
      <div class="row">
        <div class="col-md mb-3 mb-md-0">
          <div class="card mb-3">
            <div class="card-body">
              <table class="table mb-0">
                <tbody>
                  <tr *ngFor="let item of items; index as i">
                    <td
                      id="imgCell"
                      scope="row"
                      [ngClass]="{ 'border-0': i === 0 }"
                    >
                      <a
                        [routerLink]="['/products', item.type, item.id]"
                        [queryParams]="{
                          returnLink: '/user/cart'
                        }"
                      >
                        <img
                          src="{{ item.imageUrl }}"
                          title="{{ item.name }}"
                          class="img-fluid"
                        />
                      </a>
                    </td>
                    <td
                      scope="row"
                      [ngClass]="{ 'border-0': i === 0 }"
                      class="d-none d-sm-table-cell"
                    >
                      <a
                        [routerLink]="['/products', item.type, item.id]"
                        [queryParams]="{
                          returnLink: '/user/cart'
                        }"
                        >{{ item.name }}</a
                      >
                    </td>
                    <td
                      scope="row"
                      [ngClass]="{ 'border-0': i === 0 }"
                      class="d-none d-sm-table-cell"
                    >
                      <span>{{ item.price | currency }}</span>
                    </td>
                    <td scope="row" [ngClass]="{ 'border-0': i === 0 }">
                      <div class="form-row">
                        <div class="col-auto">
                          <form [formGroup]="cartForm" novalidate>
                            <ng-container
                              *ngIf="quantities$ | async as quantities"
                            >
                              <div formArrayName="quantities">
                                <div [formGroup]="quantities.controls[i]">
                                  <label
                                    class="d-sm-none"
                                    for="quantity{{ i }}"
                                    >{{ item.price | currency }}</label
                                  >
                                  <select
                                    id="quantity{{ i }}"
                                    class="custom-select"
                                    formControlName="quantity"
                                  >
                                    <option [value]="0">Remove</option>
                                    <option [value]="1">1</option>
                                    <option [value]="2">2</option>
                                    <option [value]="3">3</option>
                                    <option [value]="4">4</option>
                                    <option [value]="5">5</option>
                                  </select>
                                </div>
                              </div>
                            </ng-container>
                          </form>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <input
            id="removeAllBtn"
            type="button"
            (click)="openDeleteAllModal(items)"
            class="btn btn-danger"
            [disabled]="loading$ | async"
            value="Empty"
          />
        </div>
        <div class="col-md-4">
          <div class="mb-3">
            <ctacu-cart-summary
              [shippingRates]="shippingRates"
            ></ctacu-cart-summary>
          </div>
          <input
            id="checkoutBtn"
            type="button"
            value="Checkout"
            routerLink="../checkout"
            class="btn btn-lg btn-block btn-success text-capitalize"
            [disabled]="loading$ | async"
          />
        </div>
      </div>
    </ng-container>
    <ng-template #noItems>
      <div class="card text-dark mb-3">
        <div class="card-body">
          <div class="row justify-content-center mb-3">
            <div class="col-auto">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="100"
                height="100"
                fill="currentColor"
                class="bi bi-cart2"
                viewBox="0 0 16 16"
              >
                <path
                  d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"
                />
              </svg>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-auto">
              <h5>Your cart is empty</h5>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-end">
        <div class="col-auto d-none d-sm-block">
          <input
            routerLink="/products"
            type="button"
            class="btn btn-lg btn-primary"
            [disabled]="loading$ | async"
            value="Continue shopping"
          />
        </div>
        <div class="col-12 d-sm-none">
          <input
            routerLink="/products"
            type="button"
            class="btn btn-lg btn-block btn-primary"
            [disabled]="loading$ | async"
            value="Continue shopping"
          />
        </div>
      </div>
    </ng-template>
  </ng-container>
  <!-- <form [formGroup]="cartForm" novalidate>
    <ng-container *ngIf="quantities$ | async as quantities">
      <div
        formArrayName="quantities"
        *ngFor="let q of quantities.controls; index as i"
      >
        <div [formGroupName]="i">
          <select
            id="quantity{{ i }}"
            class="custom-select"
            formControlName="quantity"
          >
            <option [value]="0">Remove</option>
            <option [value]="1">1</option>
            <option [value]="2">2</option>
            <option [value]="3">3</option>
            <option [value]="4">4</option>
            <option [value]="5">5</option>
          </select>
        </div>
      </div>
    </ng-container>
  </form> -->
  <ng-template #error>
    <div class="card text-danger mb-3">
      <div class="card-body">
        <div class="row justify-content-center mb-3">
          <div class="col-auto">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="80"
              height="80"
              fill="currentColor"
              class="bi bi-exclamation-octagon"
              viewBox="0 0 16 16"
            >
              <path
                d="M4.54.146A.5.5 0 0 1 4.893 0h6.214a.5.5 0 0 1 .353.146l4.394 4.394a.5.5 0 0 1 .146.353v6.214a.5.5 0 0 1-.146.353l-4.394 4.394a.5.5 0 0 1-.353.146H4.893a.5.5 0 0 1-.353-.146L.146 11.46A.5.5 0 0 1 0 11.107V4.893a.5.5 0 0 1 .146-.353L4.54.146zM5.1 1L1 5.1v5.8L5.1 15h5.8l4.1-4.1V5.1L10.9 1H5.1z"
              />
              <path
                d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"
              />
            </svg>
          </div>
        </div>
        <ngb-alert class="text-sm-center" [dismissible]="false" type="danger">
          <span>{{ errorMessage }}</span>
        </ngb-alert>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-auto d-none d-sm-block">
        <input
          routerLink="/products"
          type="button"
          class="btn btn-lg btn-primary"
          [disabled]="loading$ | async"
          value="Continue shopping"
        />
      </div>
      <div class="col-12 d-sm-none">
        <input
          routerLink="/products"
          type="button"
          class="btn btn-lg btn-block btn-primary"
          [disabled]="loading$ | async"
          value="Continue shopping"
        />
      </div>
    </div>
  </ng-template>
</div>
