<div class="container-xl pt-3">
  <section>
    <h1 class="display-4 d-none d-sm-block">
      <span>
        {{ pageTitle | capitalize }}
      </span>
    </h1>
    <h2 class="d-sm-none">
      <span>{{ pageTitle | capitalize }}</span>
    </h2>
  </section>
  <ngb-alert type="success" class="text-center" [dismissible]="false">
    <strong>Success!</strong
    ><span>
      Your order has been placed and is on its way! You can check out even more
      gaming products
      <a class="font-weight-bold text-decoration-none" routerLink="/products"
        >HERE</a
      >.</span
    >
  </ngb-alert>
  <p></p>
</div>
