<section class="text-light bg-dark">
  <div
    class="modal-header border-bottom-0 border-0 row justify-content-between align-items-center"
  >
    <div class="col-auto">
      <h2 class="modal-title d-none d-sm-block">
        {{ title | capitalize }}
      </h2>
      <h4 class="modal-title d-sm-none">
        {{ title | capitalize }}
      </h4>
    </div>
    <div class="col-auto">
      <button
        type="button"
        class="close"
        aria-describedby="modal-title"
        (click)="dismiss('cross click')"
        ngbAutofocus
      >
        <svg
          width="24"
          height="24"
          viewBox="0 0 16 16"
          class="bi bi-x text-light"
          fill="currentColor"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
          />
        </svg>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <p class="lead d-none d-sm-block">{{ message }}</p>
    <p class="d-sm-none">{{ message }}</p>
  </div>
  <div class="modal-body">
    <div class="form-row">
      <div class="col">
        <input
          type="button"
          value="{{ closeMessage | capitalize }}"
          class="btn btn-block btn-outline-light"
          (click)="close('ok click')"
        />
      </div>
      <div *ngIf="dismissMessage" class="col">
        <input
          type="button"
          value="{{ dismissMessage | capitalize }}"
          class="btn btn-block btn-primary"
          (click)="dismiss('cancel click')"
        />
      </div>
    </div>
  </div>
</section>
