<div class="container-xl py-3">
  <section class="row justify-content-between align-items-center">
    <div class="col-auto">
      <h1 class="display-4 m-0 d-none d-sm-block">
        {{ pageTitle | capitalize }}
      </h1>
      <h2 class="m-0 d-sm-none">{{ pageTitle | capitalize }}</h2>
    </div>
    <div class="col-auto">
      <input
        type="button"
        value="Home"
        routerLink="/"
        class="btn btn-outline-light"
      />
    </div>
  </section>
  <hr class="border-light" />
  <ng-container *ngIf="productTypes && productTypes.length; else noTypes">
    <div
      *ngFor="let t of productTypes; index as i"
      class="row align-content-center mb-3"
    >
      <div class="col-lg-auto" [ngClass]="{ 'order-lg-12': i % 2 }">
        <div class="row justify-content-center mb-3 mb-lg-0">
          <div class="col-auto">
            <img
              src="{{ t.imageUrl }}"
              alt="Gaming Desktops"
              class="img-thumbnail"
              [routerLink]="[t.title]"
              (click)="scrollToTop()"
            />
          </div>
        </div>
      </div>
      <div class="col-lg">
        <div class="row h-100 align-content-center">
          <div class="col">
            <h1>
              {{ t.title | lowercase | capitalize }}
            </h1>
            <p class="lead">
              {{ t.body }}
            </p>
            <input
              type="button"
              class="btn btn-block btn-info"
              value="{{ t.title | capitalize }}"
              [routerLink]="[t.title]"
              (click)="scrollToTop()"
            />
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noTypes>
    <ngb-alert [dismissible]="false" type="danger" class="text-center">
      <span>{{ errorMessage }}</span>
    </ngb-alert>
  </ng-template>
</div>
