<div class="container-xl py-3">
  <h1 class="display-4 d-none d-sm-block">{{ pageTitle }}</h1>
  <h2 class="d-sm-none">{{ pageTitle }}</h2>
  <hr class="border-light" />
  <section class="card bg-dark d-none d-md-block">
    <img
      class="card-img"
      src="../../assets/images/products-background.jpg"
      alt="Card image"
    />
    <div class="card-img-overlay">
      <div class="row h-100 align-items-center">
        <div class="col">
          <p class="lead">{{ welcomeMessage }}</p>
          <input
            routerLink="/products"
            type="button"
            value="Gaming Products"
            class="btn btn-lg btn-block btn-light"
          />
        </div>
      </div>
    </div>
  </section>
  <section class="d-md-none">
    <p class="lead">{{ welcomeMessage }}</p>
    <input
      routerLink="/products"
      type="button"
      value="Gaming Products"
      class="btn btn-lg btn-block btn-light"
    />
  </section>
</div>
