<div class="container-xl py-3">
  <h1 class="text-center mb-3 font-weight-bold">{{ pageTitle }}</h1>
  <div class="row">
    <div class="col">
      <p class="lead">
        A top-of-the-line PC will outpace many gaming consoles when it comes to
        sheer computing power, but many low- to mid-tier computers also provide
        great gaming experiences. PC gaming is largely about customization,
        giving you a vast array of hardware and accessories to choose from. No
        matter how you want to game, {{ pageTitle }} has the perfect hardware
        for you.
      </p>
      <input
        class="btn btn-block btn-lg btn-info text-capitalize shadow"
        type="button"
        value="gaming products"
        routerLink="/products"
      />
    </div>
    <div class="d-none d-md-block col-5">
      <img
        src="../../assets/images/gaming-keyboards.jpg"
        class="img-fluid shadow pointer"
        alt="gaming-keyboards"
        routerLink="/products"
      />
    </div>
  </div>
</div>
