/* Spinner */
.spinner-border {
  font-size: 200%;
  width: 5rem;
  height: 5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -2.5rem;
  margin-left: -2.5rem;
  z-index: 10;
  // transform: 2ranslate(-50%, -50%);
}
