<div class="container-xl py-3">
  <div class="row">
    <div class="col-6">
      <form
        [formGroup]="signInForm"
        (ngSubmit)="signIn(signInForm)"
        novalidate
        autocomplete="off"
      >
        <fieldset>
          <legend>Sign In</legend>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-info text-white">Email</span>
            </div>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              autocomplete="email"
              placeholder="Email (required)"
              [ngClass]="{
                'is-invalid': emailMessage && submitted,
                'is-valid': !emailMessage
              }"
            />
            <div class="invalid-tooltip">
              <span>{{ emailMessage }}</span>
            </div>
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text bg-info text-white">Password</span>
            </div>
            <input
              [type]="
                signInForm.get('showPassword').value ? 'text' : 'password'
              "
              formControlName="password"
              class="form-control"
              autocomplete="current-password"
              placeholder="Password (required)"
              [ngClass]="{
                'is-invalid': passwordMessage && submitted,
                'is-valid': !passwordMessage
              }"
            />
            <div class="invalid-tooltip">
              <span>{{ passwordMessage }}</span>
            </div>
            <div class="btn-group-toggle input-group-append">
              <label class="btn-secondary text-capitalize" ngbButtonLabel>
                <input
                  type="checkbox"
                  ngbButton
                  formControlName="showPassword"
                />
                {{
                  this.signInForm.get("showPassword").value ? "hide" : "show"
                }}
              </label>
            </div>
          </div>
        </fieldset>
        <button type="submit" class="btn btn-success">Sign In</button>
      </form>
    </div>
    <div class="col"></div>
  </div>
</div>
