<div class="container-xl pt-3">
  <div
    *ngIf="this.loading$ | async"
    class="spinner-border loadingSpinner text-info"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <div class="d-md-none mb-3">
    <input
      type="button"
      value="back"
      class="btn btn-info btn-block text-capitalize mb-3"
      (click)="onBack()"
    />
    <input
      type="button"
      value="more products"
      class="btn btn-outline-secondary btn-block text-capitalize"
      routerLink="/products"
    />
  </div>
  <div class="justify-content-between mb-3 d-none d-md-flex">
    <input
      type="button"
      value="back"
      class="btn btn-info text-capitalize"
      (click)="onBack()"
      queryParamsHandling="preserve"
    />
    <input
      type="button"
      value="more products"
      class="btn btn-outline-secondary text-capitalize"
      routerLink="/products"
    />
  </div>
  <ng-container *ngIf="product$ | async as product; else noProduct">
    <ng-container *ngIf="items$ | async as items">
      <div class="row">
        <div class="col-lg-6">
          <div class="row">
            <div class="col-12">
              <div class="d-flex justify-content-center">
                <img
                  class="img-fluid mb-3 shadow"
                  [src]="
                    product.imageUrls
                      ? product.imageUrls[imageIndex]
                      : product.imageUrl
                  "
                  [title]="product.name"
                />
              </div>
            </div>
          </div>
          <div *ngIf="product.imageUrls" class="row mb-3">
            <div *ngFor="let url of product.imageUrls" class="col">
              <img
                class="img-fluid img-options shadow-sm"
                [src]="url"
                [title]="product.name"
                (click)="updateIndex(product.imageUrls, url)"
              />
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <h2>{{ product.brand }}: {{ product.name }}</h2>
          <p class="text-muted mb-2 text-uppercase small">{{ product.type }}</p>
          <div>
            <ngb-rating
              class="star mb-3"
              [(rate)]="product.starRating"
              [readonly]="true"
              [max]="5"
            ></ngb-rating>
          </div>
          <p>
            <span class="mr-1">
              <strong>{{ product.price | currency }}</strong>
            </span>
          </p>
          <p>{{ product.description }}</p>
          <div class="form-row mb-3">
            <div class="col-md-6">
              <input
                type="button"
                class="btn btn-block btn-success text-uppercase"
                (click)="saveItem(product, items, true)"
                value="Buy now"
                [disabled]="this.loading$ | async"
              />
            </div>
            <div class="col-md-6">
              <input
                type="button"
                class="btn btn-block btn-outline-secondary text-uppercase mt-2 mt-md-0"
                (click)="saveItem(product, items)"
                value="Add to Cart"
                [disabled]="this.loading$ | async"
              />
            </div>
          </div>
          <p>
            <span class="mr-1">
              <strong>Code: </strong
              >{{ product.code | lowercase | convertToSpaces: "-" }}
            </span>
          </p>
          <div *ngIf="product.features">
            <hr class="my-3" />
            <h4 class="mb-3">Features</h4>

            <div *ngFor="let f of product.features">
              <p class="mb-0">
                <span>
                  <strong>{{ f.title }}</strong>
                </span>
              </p>
              <p>
                <span>{{ f.body }}</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <ng-template #successTpl>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-cart-plus-fill mr-1"
        viewBox="0 0 16 16"
      >
        <path
          d="M.5 1a.5.5 0 0 0 0 1h1.11l.401 1.607 1.498 7.985A.5.5 0 0 0 4 12h1a2 2 0 1 0 0 4 2 2 0 0 0 0-4h7a2 2 0 1 0 0 4 2 2 0 0 0 0-4h1a.5.5 0 0 0 .491-.408l1.5-8A.5.5 0 0 0 14.5 3H2.89l-.405-1.621A.5.5 0 0 0 2 1H.5zM6 14a1 1 0 1 1-2 0 1 1 0 0 1 2 0zm7 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0zM9 5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 1 0z"
        />
      </svg>
      "{{ product.name }}" Added !
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-x pointer"
        viewBox="0 0 16 16"
      >
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
        />
      </svg>
    </ng-template>

    <ng-template #dangerTpl>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-exclamation-octagon-fill mr-1"
        viewBox="0 0 16 16"
      >
        <path
          d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
        />
      </svg>
      Error adding "{{ product.name }}" !
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="currentColor"
        class="bi bi-x pointer"
        viewBox="0 0 16 16"
      >
        <path
          d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
        />
      </svg>
    </ng-template>
  </ng-container>
  <ng-template #noProduct>
    <h1 class="text-danger text-center mb-3">Retrieval Error</h1>
    <ngb-alert
      [dismissible]="false"
      *ngIf="error$ | async as error; else loading"
      type="danger"
      class="text-center"
    >
      <span>{{ error }}</span>
    </ngb-alert>
    <ng-template #loading>
      <div class="d-flex justify-content-center m-3">
        <div class="spinner-border text-info" role="status">
          <span class="sr-only">Loading... </span>
        </div>
      </div>
    </ng-template>
  </ng-template>
</div>
<ng-template #getCartErrTpl>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="currentColor"
    class="bi bi-exclamation-octagon-fill mr-1"
    viewBox="0 0 16 16"
  >
    <path
      d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
    />
  </svg>
  Error getting cart !
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="currentColor"
    class="bi bi-x pointer"
    viewBox="0 0 16 16"
  >
    <path
      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
    />
  </svg>
</ng-template>
