<div class="container-xl py-3">
  <div
    *ngIf="loading"
    class="spinner-border loadingSpinner text-primary"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <div class="row">
    <div class="col-lg">
      <form
        [formGroup]="signInForm"
        (ngSubmit)="onSubmit(signInForm)"
        novalidate
        autocomplete="off"
        class="mb-3"
      >
        <fieldset>
          <div class="row align-items-center">
            <div class="col">
              <h1 class="text-primary mb-3">Sign In</h1>
            </div>
            <div class="col-auto">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <span
                    class="input-group-text bg-info text-white"
                    id="basic-addon1"
                    >User</span
                  >
                </div>

                <select
                  class="form-control custom-select text-capitalize"
                  formControlName="user"
                >
                  <option *ngFor="let u of users; index as i" [value]="i">
                    {{ i + 1 }}. {{ u.name.firstName | lowercase }}
                    {{ u.name.lastName | lowercase }}
                    {{ u.isAdmin ? "(Admin)" : "" }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="input-group mb-3 shadow-sm">
            <div class="input-group-prepend">
              <span class="input-group-text bg-info text-white">Email</span>
            </div>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              autocomplete="email"
              placeholder="Email (required)"
              [ngClass]="{
                'is-invalid': (emailMessage || signInMessage) && submitted,
                'is-valid': !emailMessage && !signInMessage
              }"
            />
            <div *ngIf="!signInMessage" class="invalid-tooltip">
              <span>{{ emailMessage }}</span>
            </div>
          </div>
          <div class="input-group mb-3 shadow-sm">
            <div class="input-group-prepend">
              <span class="input-group-text bg-info text-white">Password</span>
            </div>
            <input
              [type]="
                signInForm.get('showPassword').value ? 'text' : 'password'
              "
              formControlName="password"
              class="form-control"
              autocomplete="current-password"
              placeholder="Password (required)"
              [ngClass]="{
                'is-invalid': (passwordMessage || signInMessage) && submitted,
                'is-valid': !passwordMessage && !signInMessage
              }"
            />
            <div class="invalid-tooltip">
              <span>{{ passwordMessage }}</span>
              <span>{{ signInMessage }}</span>
            </div>
            <div class="btn-group-toggle input-group-append">
              <label class="btn-secondary text-capitalize" ngbButtonLabel>
                <input
                  type="checkbox"
                  ngbButton
                  formControlName="showPassword"
                />
                {{
                  this.signInForm.get("showPassword").value ? "hide" : "show"
                }}
              </label>
            </div>
          </div>
        </fieldset>
        <button
          type="submit"
          class="btn btn-success btn-block shadow"
          [disabled]="(this.signInForm.invalid && submitted) || loading"
        >
          Sign In
        </button>
      </form>
      <hr class="my-3 d-lg-none" />
    </div>
    <div class="col-lg">
      <ctacu-sign-up
        [loading]="loading"
        (loadingChange)="setLoading($event)"
      ></ctacu-sign-up>
    </div>
  </div>
</div>
<ng-template ngbToastHeader #successTpl>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="currentColor"
    class="bi bi-shield-fill-check mr-1"
    viewBox="0 0 16 16"
  >
    <path
      fill-rule="evenodd"
      d="M8 0c-.69 0-1.843.265-2.928.56-1.11.3-2.229.655-2.887.87a1.54 1.54 0 0 0-1.044 1.262c-.596 4.477.787 7.795 2.465 9.99a11.777 11.777 0 0 0 2.517 2.453c.386.273.744.482 1.048.625.28.132.581.24.829.24s.548-.108.829-.24a7.159 7.159 0 0 0 1.048-.625 11.775 11.775 0 0 0 2.517-2.453c1.678-2.195 3.061-5.513 2.465-9.99a1.541 1.541 0 0 0-1.044-1.263 62.467 62.467 0 0 0-2.887-.87C9.843.266 8.69 0 8 0zm2.146 5.146a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7.5 7.793l2.646-2.647z"
    />
  </svg>
  Signed In !
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="currentColor"
    class="bi bi-x pointer"
    viewBox="0 0 16 16"
  >
    <path
      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
    />
  </svg>
</ng-template>

<ng-template #dangerTpl>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="currentColor"
    class="bi bi-exclamation-octagon-fill mr-1"
    viewBox="0 0 16 16"
  >
    <path
      d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
    />
  </svg>
  Error sigining in !
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="currentColor"
    class="bi bi-x pointer"
    viewBox="0 0 16 16"
  >
    <path
      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
    />
  </svg>
</ng-template>
