<div class="container-xl py-3">
  <div
    *ngIf="loading"
    class="spinner-border loadingSpinner text-primary"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <div class="row">
    <div class="col-lg">
      <form
        [formGroup]="signInForm"
        (ngSubmit)="onSubmit(signInForm)"
        novalidate
        autocomplete="off"
        class="mb-3"
      >
        <fieldset>
          <h1 class="text-primary mb-3">Sign In</h1>
          <div class="input-group mb-3 shadow-sm">
            <div class="input-group-prepend">
              <span class="input-group-text bg-info text-white">Email</span>
            </div>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              autocomplete="email"
              placeholder="Email (required)"
              [ngClass]="{
                'is-invalid': (emailMessage || signInMessage) && submitted,
                'is-valid': !emailMessage && !signInMessage
              }"
            />
            <div *ngIf="!signInMessage" class="invalid-tooltip">
              <span>{{ emailMessage }}</span>
            </div>
          </div>
          <div class="input-group mb-3 shadow-sm">
            <div class="input-group-prepend">
              <span class="input-group-text bg-info text-white">Password</span>
            </div>
            <input
              [type]="
                signInForm.get('showPassword').value ? 'text' : 'password'
              "
              formControlName="password"
              class="form-control"
              autocomplete="current-password"
              placeholder="Password (required)"
              [ngClass]="{
                'is-invalid': (passwordMessage || signInMessage) && submitted,
                'is-valid': !passwordMessage && !signInMessage
              }"
            />
            <div class="invalid-tooltip">
              <span>{{ passwordMessage }}</span>
              <span>{{ signInMessage }}</span>
            </div>
            <div class="btn-group-toggle input-group-append">
              <label class="btn-secondary text-capitalize" ngbButtonLabel>
                <input
                  type="checkbox"
                  ngbButton
                  formControlName="showPassword"
                />
                {{
                  this.signInForm.get("showPassword").value ? "hide" : "show"
                }}
              </label>
            </div>
          </div>
        </fieldset>
        <button
          type="submit"
          class="btn btn-success btn-block shadow"
          [disabled]="(this.signInForm.invalid && submitted) || loading"
        >
          Sign In
        </button>
      </form>
      <ngb-alert
        *ngIf="signInError"
        type="danger"
        [dismissible]="true"
        class="text-center mt-3"
        (close)="signInError = ''"
        >{{ signInError }}</ngb-alert
      >
      <hr class="my-3 d-lg-none" />
    </div>
    <div class="col-lg">
      <ctacu-sign-up
        [loading]="loading"
        (loadingChange)="setLoading($event)"
      ></ctacu-sign-up>
    </div>
  </div>
</div>
