<div class="container-xl py-3">
  <div
    *ngIf="loading"
    class="spinner-border loadingSpinner text-primary"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <div class="row">
    <div class="col-lg">
      <form
        [formGroup]="signInForm"
        (ngSubmit)="onSubmit(signInForm)"
        novalidate
        autocomplete="off"
        class="mb-3"
      >
        <fieldset>
          <div class="row align-items-center">
            <div class="col">
              <h1 class="text-primary mb-3">Sign In</h1>
            </div>
            <div class="col-auto">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <span
                    class="input-group-text bg-info text-white"
                    id="basic-addon1"
                    >User</span
                  >
                </div>

                <select
                  class="form-control custom-select text-capitalize"
                  formControlName="user"
                >
                  <option *ngFor="let u of users; index as i" [value]="i">
                    {{ i + 1 }}. {{ u.name.firstName | lowercase }}
                    {{ u.name.lastName | lowercase }}
                    {{ u.isAdmin ? "(Admin)" : "" }}
                  </option>
                </select>
              </div>
            </div>
          </div>

          <div class="input-group mb-3 shadow-sm">
            <div class="input-group-prepend">
              <span class="input-group-text bg-info text-white">Email</span>
            </div>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              autocomplete="email"
              placeholder="Email (required)"
              [ngClass]="{
                'is-invalid': (emailMessage || signInMessage) && submitted,
                'is-valid': !emailMessage && !signInMessage
              }"
            />
            <div *ngIf="!signInMessage" class="invalid-tooltip">
              <span>{{ emailMessage }}</span>
            </div>
          </div>
          <div class="input-group mb-3 shadow-sm">
            <div class="input-group-prepend">
              <span class="input-group-text bg-info text-white">Password</span>
            </div>
            <input
              [type]="
                signInForm.get('showPassword').value ? 'text' : 'password'
              "
              formControlName="password"
              class="form-control"
              autocomplete="current-password"
              placeholder="Password (required)"
              [ngClass]="{
                'is-invalid': (passwordMessage || signInMessage) && submitted,
                'is-valid': !passwordMessage && !signInMessage
              }"
            />
            <div class="invalid-tooltip">
              <span>{{ passwordMessage }}</span>
              <span>{{ signInMessage }}</span>
            </div>
            <div class="btn-group-toggle input-group-append">
              <label class="btn-secondary text-capitalize" ngbButtonLabel>
                <input
                  type="checkbox"
                  ngbButton
                  formControlName="showPassword"
                />
                {{
                  this.signInForm.get("showPassword").value ? "hide" : "show"
                }}
              </label>
            </div>
          </div>
        </fieldset>
        <button
          type="submit"
          class="btn btn-success btn-block shadow"
          [disabled]="(this.signInForm.invalid && submitted) || loading"
        >
          Sign In
        </button>
      </form>
      <hr class="my-3 d-lg-none" />
    </div>
    <div class="col-lg">
      <ctacu-sign-up
        [loading]="loading"
        (loadingChange)="setLoading($event)"
      ></ctacu-sign-up>
    </div>
  </div>
</div>
<ng-template #successTpl>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="currentColor"
    class="bi bi-patch-check mr-1"
    viewBox="0 0 16 16"
  >
    <path
      fill-rule="evenodd"
      d="M10.354 6.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L7 8.793l2.646-2.647a.5.5 0 0 1 .708 0z"
    />
    <path
      d="M10.273 2.513l-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911l-1.318.016z"
    />
  </svg>
  Signed In !
</ng-template>

<ng-template #dangerTpl>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="24"
    height="24"
    fill="currentColor"
    class="bi bi-exclamation-octagon-fill mr-1"
    viewBox="0 0 16 16"
  >
    <path
      d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353L11.46.146zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"
    />
  </svg>
  Error sigining in !
</ng-template>
