<div class="container-xl py-3">
  <div
    *ngIf="loading"
    class="spinner-border loadingSpinner text-info"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <input
    type="button"
    value="Sign Out"
    class="btn btn-info ml-auto mb-3"
    (click)="signOut()"
  />
  <ng-container *ngIf="user$ | async as user">
    <div class="row">
      <div class="col-md mb-3">
        <div class="card">
          <div
            class="card-header bg-secondary text-light d-flex justify-content-between"
          >
            <span>Name</span>
            <a [routerLink]="['edit', 'name']" class="card-link text-light"
              >Edit</a
            >
          </div>
          <div class="card-body text-capitalize">
            <span
              >{{ user.firstName | lowercase }}
              {{ user.lastName | lowercase }}</span
            >
          </div>
        </div>
      </div>
      <div class="col-md mb-3">
        <div class="card">
          <div
            class="card-header bg-secondary text-light d-flex justify-content-between"
          >
            <span>Contact Details</span>
            <a [routerLink]="['edit', 'contact']" class="card-link text-light"
              >Edit</a
            >
          </div>
          <div class="card-body">
            <div>{{ user.phone }}</div>
            <div>{{ user.email }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md mb-3 mb-md-0">
        <div class="card">
          <div
            class="card-header bg-secondary text-light d-flex justify-content-between"
          >
            <span>Address</span>
            <a [routerLink]="['edit', 'address']" class="card-link text-light"
              >Edit</a
            >
          </div>
          <div class="card-body text-capitalize">
            <div>{{ user.street | lowercase }}</div>
            <div>{{ user.city | lowercase }}, {{ user.state }}</div>
            <div>{{ user.zip | lowercase }}, {{ user.country }}</div>
          </div>
        </div>
      </div>
      <div class="col-md">
        <form
          [formGroup]="editPasswordForm"
          (ngSubmit)="onSubmit(editPasswordForm, user)"
          novalidate
        >
          <div class="card">
            <div class="card-header bg-info text-light">
              <span>Change Password</span>
            </div>
            <ngb-alert
              *ngIf="successMessage"
              type="success"
              [dismissible]="true"
              (close)="successMessage = ''"
              class="mb-0 mt-3 mx-3"
            >
              {{ successMessage }}
            </ngb-alert>
            <ngb-alert
              *ngIf="errorMessage"
              type="danger"
              [dismissible]="true"
              (close)="errorMessage = ''"
              class="mb-0 mt-3 mx-3"
            >
              {{ errorMessage }}
            </ngb-alert>
            <div class="card-body">
              <ctacu-current-password-form
                [parentForm]="editPasswordForm"
                [submitted]="submitted"
                [invalidPasswordMessage]="invalidPasswordMessage"
                (onValueChange)="setInvalidPasswordMessage($event)"
              ></ctacu-current-password-form>
              <ctacu-password-form
                [parentForm]="editPasswordForm"
                [submitted]="submitted"
                pageTitle="New Password"
              ></ctacu-password-form>
              <input
                type="submit"
                value="{{
                  editPasswordForm.invalid && submitted ? '! ' : ''
                }}Save"
                class="btn btn-block"
                [disabled]="editPasswordForm.invalid && submitted"
                [ngClass]="{
                  'btn-success': editPasswordForm.valid || !submitted,
                  'btn-outline-danger': editPasswordForm.invalid && submitted
                }"
              />
            </div>
          </div>
        </form>
      </div>
    </div>
  </ng-container>
</div>
