<div class="container-xl py-3">
  <div
    *ngIf="loading"
    class="spinner-border loadingSpinner text-info"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <input
    type="button"
    value="Sign Out"
    class="btn btn-info ml-auto mb-3"
    (click)="signOut()"
  />
  <ng-container *ngIf="user$ | async as user">
    <ngb-accordion
      [destroyOnHide]="false"
      activeIds="information"
      #acc="ngbAccordion"
    >
      <ngb-panel type="secondary" id="information" title="information">
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="py-1">
            <button ngbPanelToggle class="btn btn-lg btn-link p-0 text-light">
              Account Information
            </button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <div class="row">
            <div class="col-md-5">
              <nav ngbNav #nav="ngbNav" class="nav-tabs">
                <ng-container ngbNavItem>
                  <a ngbNavLink><b>Name</b></a>
                  <ng-template ngbNavContent>
                    <div
                      class="d-flex p-3 justify-content-between align-items-start"
                    >
                      <span>{{ user.firstName }} {{ user.lastName }}</span>
                      <input
                        type="button"
                        value="Edit"
                        class="btn btn-link text-danger"
                        routerLink="edit/name"
                      />
                    </div>
                  </ng-template>
                </ng-container>
                <ng-container ngbNavItem>
                  <a ngbNavLink><b>Contact</b></a>
                  <ng-template ngbNavContent>
                    <div
                      class="d-flex p-3 justify-content-between align-items-start"
                    >
                      <div>
                        <div>{{ user.phone }}</div>
                        <div>{{ user.email | lowercase }}</div>
                      </div>
                      <input
                        type="button"
                        value="Edit"
                        class="btn btn-link text-danger"
                        routerLink="edit/contact"
                      />
                    </div>
                  </ng-template>
                </ng-container>
                <ng-container ngbNavItem>
                  <a ngbNavLink
                    ><b>{{ user.street ? "" : "! " }}Address</b></a
                  >
                  <ng-template ngbNavContent>
                    <div
                      class="d-flex p-3 justify-content-between align-items-start text-capitalize"
                    >
                      <div *ngIf="user.street; else noStreet">
                        <div>{{ user.street | lowercase }}</div>
                        <div>
                          {{ user.city | lowercase }},
                          {{ user.state | lowercase }}
                        </div>
                        <div>
                          {{ user.zip }},
                          {{ user.country | uppercase }}
                        </div>
                      </div>
                      <ng-template #noStreet>
                        <span
                          ><span class="text-danger">!</span> No Address
                          Found...</span
                        >
                      </ng-template>

                      <input
                        type="button"
                        value="{{ user.street ? 'Edit' : 'Add' }}"
                        class="btn btn-link text-danger"
                        routerLink="edit/address"
                      />
                    </div>
                  </ng-template>
                </ng-container>
              </nav>

              <div [ngbNavOutlet]="nav" class="mt-2"></div>
            </div>
            <div class="col-md">
              <form
                [formGroup]="editPasswordForm"
                (ngSubmit)="onSubmit(editPasswordForm, user)"
                novalidate
              >
                <div class="card">
                  <div class="card-header bg-info text-light">
                    <span>Change Password</span>
                  </div>
                  <ngb-alert
                    *ngIf="successMessage"
                    type="success"
                    [dismissible]="true"
                    (close)="successMessage = ''"
                    class="mb-0 mt-3 mx-3"
                  >
                    {{ successMessage }}
                  </ngb-alert>
                  <ngb-alert
                    *ngIf="errorMessage"
                    type="danger"
                    [dismissible]="true"
                    (close)="errorMessage = ''"
                    class="mb-0 mt-3 mx-3"
                  >
                    {{ errorMessage }}
                  </ngb-alert>
                  <div class="card-body">
                    <ctacu-current-password-form
                      [parentForm]="editPasswordForm"
                      [submitted]="submitted"
                    ></ctacu-current-password-form>
                    <ctacu-password-form
                      [parentForm]="editPasswordForm"
                      [submitted]="submitted"
                      pageTitle="New Password"
                    ></ctacu-password-form>
                    <input
                      type="submit"
                      value="{{
                        editPasswordForm.invalid && submitted ? '! ' : ''
                      }}Save"
                      class="btn btn-block"
                      [disabled]="editPasswordForm.invalid && submitted"
                      [ngClass]="{
                        'btn-success': editPasswordForm.valid || !submitted,
                        'btn-outline-danger':
                          editPasswordForm.invalid && submitted
                      }"
                    />
                  </div>
                </div>
              </form>
              <!-- <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-header bg-primary">
                      <div
                        class="d-flex justify-content-between align-items-center"
                      >
                        <span class="text-light">Address</span>
                        <input
                          type="button"
                          value="Edit"
                          class="btn btn-sm btn-link text-light"
                        />
                      </div>
                    </div>
                    <div class="card-body text-capitalize">
                      <div>
                        {{ user.street | lowercase }}
                      </div>
                      <div>
                        {{ user.city | lowercase }},
                        {{ user.state | lowercase }}
                      </div>
                      <div>{{ user.zip }}, {{ user.country | uppercase }}</div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="card">
                    <div class="card-header bg-primary">
                      <div
                        class="d-flex justify-content-between align-items-center"
                      >
                        <span class="text-light">Password</span>
                        <input
                          type="button"
                          value="Change"
                          class="btn btn-sm btn-link text-light"
                        />
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
          </div>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </ng-container>
</div>
