<div class="container-xl py-3">
  <div
    *ngIf="loading"
    class="spinner-border loadingSpinner text-info"
    role="status"
  >
    <span class="sr-only">Loading...</span>
  </div>
  <ng-container *ngIf="user$ | async as user">
    <div class="row">
      <div class="col-lg mb-3">
        <div class="row justify-content-between align-items-center">
          <div class="col-auto">
            <input
              type="button"
              value="Sign Out"
              class="btn btn-sm btn-outline-secondary"
              (click)="signOut()"
            />
          </div>
          <div class="col-auto">
            <h3 class="text-primary mb-0">
              <span class="d-none d-sm-inline">Customer </span>#:
              {{ user.id }}
            </h3>
          </div>
        </div>
        <hr />
        <nav ngbNav #nav="ngbNav" class="nav-tabs">
          <ng-container ngbNavItem>
            <a ngbNavLink><b>Name</b></a>
            <ng-template ngbNavContent>
              <ctacu-edit-name></ctacu-edit-name>
            </ng-template>
          </ng-container>
          <ng-container ngbNavItem>
            <a ngbNavLink><b>Contact</b></a>
            <ng-template ngbNavContent>
              <ctacu-edit-contact></ctacu-edit-contact>
            </ng-template>
          </ng-container>
          <ng-container ngbNavItem>
            <a ngbNavLink
              ><b>{{ user.street ? "" : "! " }}Address</b></a
            >
            <ng-template ngbNavContent>
              <ctacu-edit-address
                [user]="user"
                (onUserChange)="saveUser($event)"
              ></ctacu-edit-address>
            </ng-template>
          </ng-container>
          <ng-container ngbNavItem>
            <a ngbNavLink><b>Password</b></a>
            <ng-template ngbNavContent>
              <ctacu-edit-password></ctacu-edit-password>
            </ng-template>
          </ng-container>
        </nav>

        <div [ngbNavOutlet]="nav" class="mt-2"></div>
      </div>
      <div class="col-lg">
        <div class="card bg-secondary mb-2">
          <div class="card-header">
            <div class="text-light">Orders</div>
          </div>
        </div>
        <ng-container *ngIf="sortedOrders$ | async as orders; else error">
          <form
            class="mb-3"
            novalidate
            [formGroup]="filterForm"
            autocomplete="off"
          >
            <div class="form-row">
              <div class="col-sm order-1">
                <div class="input-group input-group-sm mt-2 mt-sm-0">
                  <div class="input-group-prepend">
                    <span
                      class="input-group-text bg-info text-white"
                      id="basic-addon1"
                      >#</span
                    >
                  </div>
                  <input
                    type="text"
                    id="search"
                    formControlName="search"
                    class="form-control"
                    placeholder="Search by #"
                    aria-describedby="basic-addon1"
                    [ngClass]="{ 'is-invalid': searchMessage }"
                  />
                  <div class="invalid-tooltip">
                    <span>{{ searchMessage }}</span>
                  </div>
                  <div
                    *ngIf="filterForm.get('search').value"
                    class="input-group-append"
                  >
                    <input
                      type="button"
                      value="X"
                      class="btn btn-sm btn-outline-danger"
                      (click)="clearSearch()"
                    />
                  </div>
                </div>
              </div>
              <div class="col-sm order-sm-12">
                <div class="input-group input-group-sm">
                  <div class="input-group-prepend">
                    <span
                      class="input-group-text bg-info text-white"
                      id="basic-addon1"
                      >Sort</span
                    >
                  </div>
                  <select
                    class="form-control custom-select"
                    formControlName="sort"
                  >
                    <optgroup label="Date">
                      <option [value]="0">Newest - Oldest</option>
                      <option [value]="1">Oldest - Newest</option>
                    </optgroup>
                    <optgroup label="Status">
                      <option [value]="2">Pending</option>
                      <option [value]="3">Completed</option>
                    </optgroup>
                  </select>
                </div>
              </div>
            </div>
          </form>
          <ng-container *ngIf="orders.length; else noOrders">
            <div class="table-responsive">
              <table class="table table-hover table-sm">
                <thead class="thead-dark text-uppercase">
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Date</th>
                    <th scope="col">Amount Paid</th>
                    <th scope="col">Status</th>
                  </tr>
                </thead>
                <tbody class="pointer">
                  <tr *ngFor="let o of orders">
                    <th scope="row">{{ o.id }}</th>
                    <td scope="row">
                      {{ o.date | date }}
                    </td>
                    <td scope="row">{{ o.payment.total | currency }}</td>
                    <td
                      scope="row"
                      class="text-capitalize"
                      [ngClass]="{
                        'text-danger': o.status.toLowerCase() === 'pending',
                        'text-success': o.status.toLowerCase() === 'completed'
                      }"
                    >
                      {{ o.status }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </ng-container>
          <ng-template #noOrders>
            <ngb-alert class="m-0 text-center" [dismissible]="false">
              <strong>No orders found...</strong> You can either clear the
              search or click <a routerLink="/products">here</a> to check out
              our products.
            </ngb-alert>
          </ng-template>
        </ng-container>
        <ng-template #error>
          <ngb-alert
            *ngIf="error$ | async as errorMessage; else loading"
            [dismissible]="false"
            type="danger"
            class="text-center m-0"
          >
            <span>{{ errorMessage }}</span>
          </ngb-alert>
          <ng-template #loading>
            <div class="d-flex justify-content-center">
              <div class="spinner-border text-info" role="status">
                <span class="sr-only">Loading... </span>
              </div>
            </div>
          </ng-template>
        </ng-template>
        <!-- <ctacu-edit-password
          [loading]="loading"
          [user]="user"
          (loadingChange)="setLoading($event)"
        ></ctacu-edit-password> -->
      </div>
    </div>
  </ng-container>
</div>
