<div>
  <div class="row align-items-center">
    <div class="col">
      <h1 class="text-primary mb-3">Sign Up</h1>
    </div>
    <div class="col-auto">
      <input
        type="button"
        value="Create User"
        class="btn btn-sm btn-link text-dark"
        (click)="saveTestUser(false)"
      />
      <input
        type="button"
        value="Create Admin"
        class="btn btn-sm btn-link text-dark"
        (click)="saveTestUser(true)"
      />
    </div>
  </div>
  <div class="shadow">
    <ngb-accordion [destroyOnHide]="false" activeIds="name" #acc="ngbAccordion">
      <ngb-panel
        type="{{
          this.signUpForm.get('nameGroup').invalid && submitted
            ? 'danger'
            : 'secondary'
        }}"
        id="name"
        title="name"
      >
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="py-1">
            <button ngbPanelToggle class="btn btn-lg btn-link p-0 text-light">
              {{
                this.signUpForm.get("nameGroup").invalid && submitted ? "!" : ""
              }}
              Name
            </button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <p>
            <ngb-progressbar type="primary" [value]="33"
              ><i>33%</i></ngb-progressbar
            >
          </p>
          <ctacu-name-form
            [parentForm]="signUpForm"
            [submitted]="submitted"
          ></ctacu-name-form>
          <div class="d-none d-sm-flex justify-content-end">
            <input
              type="button"
              value="next"
              (click)="acc.toggle('contact')"
              class="btn btn-success text-capitalize"
            />
          </div>
          <input
            type="button"
            value="next"
            (click)="acc.toggle('contact')"
            class="btn btn-sm btn-block btn-success text-capitalize d-sm-none"
          />
        </ng-template>
      </ngb-panel>
      <ngb-panel
        type="{{
          (this.signUpForm.get('contactGroup').invalid || emailTakenMessage) &&
          submitted
            ? 'danger'
            : 'secondary'
        }}"
        id="contact"
        title="contact"
      >
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="py-1">
            <button ngbPanelToggle class="btn btn-lg btn-link p-0 text-light">
              {{
                (this.signUpForm.get("contactGroup").invalid ||
                  emailTakenMessage) &&
                submitted
                  ? "!"
                  : ""
              }}
              Contact Details
            </button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <p>
            <ngb-progressbar type="primary" [value]="66"
              ><i>66%</i></ngb-progressbar
            >
          </p>
          <ctacu-contact-form
            [parentForm]="signUpForm"
            [submitted]="submitted"
            [emailTakenMessage]="emailTakenMessage"
            (onValueChange)="setEmailTakenMessage($event)"
          ></ctacu-contact-form>
          <div class="d-none d-sm-flex justify-content-between">
            <input
              type="button"
              value="back"
              (click)="acc.toggle('name')"
              class="btn btn-primary text-capitalize"
            />
            <input
              type="button"
              value="next"
              (click)="acc.toggle('password')"
              class="btn btn-success text-capitalize"
            />
          </div>
          <input
            type="button"
            value="back"
            (click)="acc.toggle('name')"
            class="btn btn-sm btn-block btn-primary text-capitalize d-sm-none"
          />
          <input
            type="button"
            value="next"
            (click)="acc.toggle('password')"
            class="btn btn-sm btn-block btn-success text-capitalize d-sm-none"
          />
        </ng-template>
      </ngb-panel>
      <ngb-panel
        type="{{
          this.signUpForm.get('passwordGroup').invalid && submitted
            ? 'danger'
            : 'secondary'
        }}"
        id="password"
        title="password"
      >
        <ng-template ngbPanelHeader let-opened="opened">
          <div class="py-1">
            <button ngbPanelToggle class="btn btn-lg btn-link p-0 text-light">
              {{
                this.signUpForm.get("passwordGroup").invalid && submitted
                  ? "!"
                  : ""
              }}
              Password
            </button>
          </div>
        </ng-template>
        <ng-template ngbPanelContent>
          <p>
            <ngb-progressbar type="success" [value]="100"
              ><i>100%</i></ngb-progressbar
            >
          </p>
          <ctacu-password-form
            [parentForm]="signUpForm"
            [submitted]="submitted"
            pageTitle="Password"
          ></ctacu-password-form>
          <form
            [formGroup]="signUpForm"
            (ngSubmit)="onSubmit(signUpForm)"
            novalidate
          >
            <div class="d-none d-sm-flex justify-content-between">
              <input
                type="button"
                value="back"
                (click)="acc.toggle('contact')"
                class="btn btn-primary text-capitalize"
              />
              <input
                type="submit"
                value="{{
                  (signUpForm.invalid || emailTakenMessage) && submitted
                    ? '! '
                    : ''
                }}Sign Up"
                class="btn btn-block ml-2 text-capitalize"
                [disabled]="
                  ((signUpForm.invalid || emailTakenMessage) && submitted) ||
                  loading
                "
                [ngClass]="{
                  'btn-success':
                    (signUpForm.valid && !emailTakenMessage) || !submitted,
                  'btn-outline-danger':
                    (signUpForm.invalid || emailTakenMessage) && submitted
                }"
              />
            </div>
            <input
              type="button"
              value="back"
              (click)="acc.toggle('contact')"
              class="btn btn-sm btn-block btn-primary text-capitalize d-sm-none"
            />
            <input
              type="submit"
              value="{{
                (signUpForm.invalid || emailTakenMessage) && submitted
                  ? '! '
                  : ''
              }}Sign Up"
              class="btn btn-block text-capitalize d-sm-none"
              [disabled]="
                ((signUpForm.invalid || emailTakenMessage) && submitted) ||
                loading
              "
              [ngClass]="{
                'btn-success':
                  (signUpForm.valid && !emailTakenMessage) || !submitted,
                'btn-outline-danger':
                  (signUpForm.invalid || emailTakenMessage) && submitted
              }"
            />
          </form>
        </ng-template>
      </ngb-panel>
      <!-- <ngb-panel
              type="{{
                this.signUpForm.get('addressGroup').invalid && submitted
                  ? 'danger'
                  : 'secondary'
              }}"
              id="shipping"
              title="shipping"
            >
              <ng-template ngbPanelHeader let-opened="opened">
                <div class="py-1">
                  <button
                    ngbPanelToggle
                    class="btn btn-lg btn-link p-0 text-light"
                  >
                    {{
                      this.checkOutForm.get("addressGroup").invalid && submitted
                        ? "!"
                        : ""
                    }}
                    Shipping
                  </button>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <ctacu-shipping-panel-content
                  [checkOutForm]="checkOutForm"
                  [submitted]="submitted"
                  [shippingRates]="shippingRates"
                  [user]="user"
                  [streetMinLength]="streetMinLength"
                  [streetMaxLength]="streetMaxLength"
                  [cityMinLength]="cityMinLength"
                  [cityMaxLength]="cityMaxLength"
                  [states]="states"
                  (toggleChange)="acc.toggle($event)"
                  (newSubscription)="pushSubscription($event)"
                ></ctacu-shipping-panel-content>
              </ng-template>
            </ngb-panel>
            <ngb-panel
              type="{{
                (this.checkOutForm.get('paymentGroup').invalid ||
                  this.checkOutForm.get('signUpGroup').invalid) &&
                submitted
                  ? 'danger'
                  : 'secondary'
              }}"
              id="finalize"
              title="finalize"
            >
              <ng-template ngbPanelHeader let-opened="opened">
                <div class="py-1">
                  <button
                    ngbPanelToggle
                    class="btn btn-lg btn-link p-0 text-light text-capitalize"
                  >
                    {{
                      (this.checkOutForm.get("paymentGroup").invalid ||
                        this.checkOutForm.get("signUpGroup").invalid) &&
                      submitted
                        ? "!"
                        : ""
                    }}
                    Finalize
                  </button>
                </div>
              </ng-template>
              <ng-template ngbPanelContent>
                <ctacu-finalize-panel-content
                  [checkOutForm]="checkOutForm"
                  [user]="user"
                  [submitted]="submitted"
                  [errorMessage]="errorMessage"
                  [signUpError]="signUpError"
                  [isLoading]="isLoading"
                  [subtotal$]="subtotal$"
                  (toggleChange)="acc.toggle($event)"
                  (checkChange)="setPasswordValidation($event)"
                  (onSubmit)="onSubmit($event, items)"
                  (totalChange)="setTotal($event)"
                  (newSubscription)="pushSubscription($event)"
                >
                </ctacu-finalize-panel-content>
              </ng-template>
            </ngb-panel> -->
    </ngb-accordion>
  </div>
  <ngb-alert
    *ngIf="signUpError"
    type="danger"
    [dismissible]="true"
    class="mt-3"
    (close)="signUpError = ''"
    >{{ signUpError }}</ngb-alert
  >
</div>
